<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
  </div>
  <div>
    <label for="image">Image</label>
    <input id="image" type="url" formControlName="image" />
  </div>
  <button type="submit">Register</button>
</form>
